/*定义按钮*/
.btn{
  display: block;
  width: 2.4rem;
  height: .75rem;
  line-height: .75rem;
  text-align: center;
  border-radius: $radius-base;
  margin: 0 auto;
}
.btn-normal{
  background: $base;
  color: #fff;
  font-size: .36rem;
}